:root {
  font-family: 'Kmr Waldenburg', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.body {
  background-color: white;
  font-family: 'Kmr Waldenburg', Arial, sans-serif;
}

.page {
  min-width: 288px;
  margin: 16px 16px 24px 16px;

  @media (width >= 768px) {
    margin: 28px 24px 24px;
  }

  @media (width >= 1024px) {
    margin: 28px 28px 24px;
  }

  @media (width >= 1280px) {
    max-width: 1800px;
    margin: 28px 34px 24px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  transition: transform 0.2s ease-out;
}

.header__link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 24px;
    line-height: 28px;
  }
}

.header__link_logo {
  height: 42px;
}

.header__link_logo:hover {
  transform: none;
}

@media screen and (min-width: 768px) {
  .header__link_logo {
    height: 52px;
  }
}

.grid__image {
  width: 100%;
}

.grid__undertext {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.grid__title {
  margin: 0;
  line-height: 0px;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.grid__author {
  margin: 0;
  line-height: 0px;
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-style: italic;
}

.grid {
  padding: 74px 56px 130px;
  display: grid;
  gap: 76px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'row1col1 row1col2'
    'row2col1 row2col2'
    'row3spread row3spread'
    'row4col1 row4col2'
    'row5col1 row5col2'
    'row6spread row6spread'
    'row7col1_douplex row7col2_douplex';
}

.row1col1 {
  grid-area: row1col1;
  justify-self: start;
  width: 100%;
}

.row1col2 {
  grid-area: row1col2;
  justify-self: end;
  width: 65%;
}

.row2col1 {
  grid-area: row2col1;
  align-self: center;
  justify-self: center;
}

.grid__links {
  grid-area: row2col1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.grid__link {
  align-self: flex-end;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family:
    Kmr Waldenburg Mager,
    sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: 1.1px;
  transition: transform 0.2s ease-out;
}

.grid__link:hover {
  transform: scale(1.1);
}

.row2col2 {
  grid-area: row2col2;
  width: 100%;
  justify-self: end;
}

.row3spread {
  grid-area: row3spread;
  width: 100%;
  justify-self: center;
}

.row4col1 {
  grid-area: row4col1;
  width: 75%;
  align-self: end;
  justify-self: start;
}

.row4col2 {
  grid-area: row4col2;
  width: 100%;
  align-self: end;
  justify-self: end;
}

.row5col1 {
  grid-area: row5col1;
  width: 100%;
  align-self: end;
  justify-self: start;
}

.row5col2 {
  grid-area: row5col2;
  width: 85%;
  align-self: end;
  justify-self: end;
}

.row6spread {
  grid-area: row6spread;
  width: 85%;
  justify-self: center;
  align-self: center;
}

.row7col1__douplex {
  grid-area: row7col1_douplex;
  width: 100%;
}

.row7col1__douplex-container {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 76px;
  align-items: start;
}

.row7col2__douplex {
  grid-area: row7col2_douplex;
  width: 100%;
  align-self: center;
  justify-self: start;
}

.row7col2__douplex-container {
  display: flex;
  flex-direction: column;
  gap: 76px;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.row7col1__douplex-container_portrait {
  width: 88%;
}

.row7col2__douplex-container_portrait {
  width: 85%;
}

.clients {
  padding: 150px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.clients__heading {
  margin: 0 auto;
  padding-bottom: 26px;
  text-transform: uppercase;
  color: #171717;
  font-size: 22px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

.clients__underline {
  border-bottom: 1px solid #171717;
  width: 90vw;
  align-self: center;
}

.clients__colummns {
  padding: 90px 56px 0;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.clients__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.clients__column_1 {
  align-items: flex-start;
}

.clients__column_2 {
  align-items: center;
}

.clients__column_3 {
  align-items: flex-end;
}

.clients__list-item {
  margin: 0;
  list-style: none;
  color: black;
  font-size: 32px;
  font-family: 'Kmr Waldenburg Mager';
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.info {
  padding-top: 120px;
  padding-bottom: 90px;
  display: block;
  margin-left: -34px;
  width: calc(100% + 68px);
}

.info__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info__column {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 90%;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  text-decoration: none;
}

.info__column:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.2;
  transition: opacity 0.1s ease-out;
}

.info__column:hover .info__title {
  transform: scale(1.1);
}

.info__column:hover:before {
  opacity: 0.6;
}

.info__column_1 {
  background-image: url('./../public/images/65aa61644b7fa1d61ead2064_20230126_Röhnisch_day120480.png');
}

.info__column_2 {
  background-image: url('./../public/images/6576dd0c98b1f6fa8744581b_00030_045_CROP_v2b_QC.jpg');
}

.info__text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  z-index: 5;
}

.info__subtitle,
.info__more {
  font-size: 14px;
}

.info__title {
  font-size: 32px;
  letter-spacing: 1.1px;
  transition: transform 0.2s ease-out;
}
